*
{
	list-style: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

body
{
	background-image: url('images/fundal.jpg');
	background-attachment: fixed;
	repeat: no-repeat;	
	background-size: cover;
}

.header
{
	width: 620px;
	min-width: 620px;
	margin: 0 auto;
}

.container
{
	min-width: 1000px;
	width: 85%;
	margin: 30px auto;
	height: 1200px;
	background-color: #eee;
	box-shadow: 0px 0px 10px black;
	overflow: hidden;
}

.menu
{
	box-shadow: 0px 0px 8px black;
	height: 49px;
	position: relative;
	z-index: 3;
}

li
{
	display: inline-block;
}

li a
{
	display: inline-block;
	float: left;
	padding: 16px;
	color: black;
	font-size: 15px;
	font-family: Arial;
	text-align: center;
}

li a:hover
{
	background: white;
}

li.dropdown
{
	position: relative;
	display: inline-block;
}

.dropdown-content
{
	padding: 5px;
	background: grey;
	display: none;
	position: absolute;
	top: 48px;
	background-color: #eee;
	color: black;
	box-shadow: 0px 0px 8px black;
	width: 189px;
}

.dropdown-content a
{
	display: block;
	background: white;
	width: 180px;
	padding: 8px 5px;
}

.dropdown-content a:hover
{
	background-color: #eee;
	color: #080;
	
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.left
{
	background-color: #ccc;
	width: 77%;
	float: left;	
	display: inline-block;
	height: 1151px;
	z-index: 1;
}

.left img 
{
	object-fit: cover;
	width: 80%;
	box-shadow: 0px 0px 8px black;
	margin: 3% 10%;
}

.right
{
	display: inline-block;
	width: 23%;
	background: white;
	height: 400px;
	float: right;
	height: 100%;
	overflow: auto;
	box-shadow: 0px 6px 8px 1px black;
	position: relative;
	z-index: 2;

}

.right div
{
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #aaa;
	margin-bottom: 1px;
	background-color: #ccc;
}

.right div h1
{
	padding: 40px 0px;
	color: blue;
}

.right p
{
	margin: 0 10px;
}

.footer
{
	background: #ccc;
	padding: 10px 0;
	text-align: center;
	box-shadow: 0px 0px 8px black;
	margin: 0 auto; 
}

.left p
{
	margin: 20px;
	font-size: 16px;
	font-family: Arial;
}

.left p::first-letter
{
	margin-left: 40px;
}

.right img
{
	box-shadow: 0px 0px 8px black;
}





