*
{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

.center
{
	position: absolute;
	top: 50%;
	right:50%;
	transform: translate(-50% , -50%);
	color: white;
}

.parallax 
{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html body
{
	overflow-y: hidden;
}

.horizontal-scroll::-webkit-scrollbar 
{ 
    display: none; 
} 

nav
{
	position: fixed;
	top: 0;
}

.bg-1
{
	background-image: url('images/first.jpg');
}

.bg-2
{
	background-image: url('images/second.jpg');
}

.bg-3
{
	background-image: url('images/third.jpg');
}

.horizontal-scroll div
{
	position: relative;
	height: 100vh;
	width: 100vw;
	display: inline-block;
	font-size: 40px;
	overflow-y: hidden;
}

.horizontal-scroll
{
	height: 100vh;
	width: 100vw;
	overflow-x: scroll;
	overflow-y: hidden;
	font-size: 0;
	white-space: nowrap;
}

@media @media screen and (max-width: 640px) 
{
	.horizontal-scroll div
	{
		display: block;
	}
}

